import httpx
import json
from typing import Any, Dict, Optional, Union, List, TypedDict, TypeVar, Generic, Type
from enum import Enum

from {{ module_name }} import Types as {{sanitize_name(info.title)}}_Type


{{ generate_response_dict }}

class {{ sanitize_name(info.title) }}:
    def __init__(self, base_url: str, ssl: bool = False):
        self._client = httpx.Client(verify=ssl)
        self._base_url = base_url

    {{ generate_api_methods }}
