{{ "\n".join(Imports) }}


class ApiClient {
    constructor(baseUrl) {
        this.baseUrl = baseUrl;
    }
    
    async request(method, path, options = {}) {
        const url = `${this.baseUrl}${path}`;
        const response = await fetch(url, {
            method,
            ...options
        });
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    }

    {{ Methods }}
}

export default ApiClient;